<div class="cont">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{text}} organización</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <ion-grid>
          <ion-row>
              <form col-12>

                  <ion-row>
                      <ion-col col-12 col-sm-3>
                          <ion-item><ion-label stacked>Code:</ion-label><ion-input type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="organiza_model.Code"></ion-input></ion-item>
                      </ion-col>

                      <ion-col col-12 col-sm-9>
                          <ion-item><ion-label stacked>Nombre:</ion-label><ion-input [ngModelOptions]="{standalone:true}" [(ngModel)]="organiza_model.Name"></ion-input></ion-item>
                      </ion-col>

                      <ion-col col-12 col-sm-6>
                          <ion-item><ion-label stacked>Email:</ion-label><ion-input [ngModelOptions]="{standalone:true}" [(ngModel)]="organiza_model.Email"></ion-input></ion-item>
                      </ion-col>
                  </ion-row>

              </form>
          </ion-row>
      </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <button ion-button color="secondary" (click)="guardar()">Guardar</button>
      <button ion-button color="secondary" (click)="cancelar()">Cancelar</button>
    </ion-toolbar>
  </ion-footer>
</div>
