<div class="cont">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{text}} usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <ion-grid>
          <ion-row>
              <form col-12>

                  <ion-row>
                    <ion-col col-12> <ion-item-divider color="primary">Información general: </ion-item-divider> </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col col-12 col-sm-6>
                          <ion-item><ion-label stacked>Nombre:</ion-label><ion-input type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="user_model.personal_info.FirstName"></ion-input></ion-item>
                      </ion-col>

                      <ion-col col-12 col-sm-6>
                          <ion-item><ion-label stacked>Apellido:</ion-label><ion-input type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="user_model.personal_info.LastName"></ion-input></ion-item>
                      </ion-col>

                      <ion-col col-12>
                          <ion-item><ion-label stacked>E-Mail:</ion-label><ion-input type="email" [ngModelOptions]="{standalone:true}" [(ngModel)]="user_model.personal_info.email"></ion-input></ion-item>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col col-12 col-sm-6>
                          <ion-item><ion-label stacked>Contraseña:</ion-label><ion-input type="password" [ngModelOptions]="{standalone:true}" [(ngModel)]="user_model.Pass"></ion-input></ion-item>
                      </ion-col>

                      <ion-col col-12 col-sm-6>
                          <ion-item><ion-label stacked>Repetir contraseña:</ion-label><ion-input type="password" [ngModelOptions]="{standalone:true}" [(ngModel)]="user_model.RPass"></ion-input></ion-item>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col col-12> <ion-item-divider color="primary">Roles asignados: </ion-item-divider> </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col col-12 col-sm-6>
                      <ion-list>
                        <ion-item *ngFor="let r of user_model.Rol_list">
                          <ion-label>{{r.Name}}</ion-label>
                          <ion-checkbox color="primary" slot="end" [ngModelOptions]="{standalone:true}" [(ngModel)]="r.v"></ion-checkbox>
                        </ion-item>
                      </ion-list>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col col-12> <ion-item-divider color="primary">Organización de pertenencia: </ion-item-divider> </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col col-12>
                          <ion-item>
                              <ion-label>Organización</ion-label>
                              <ion-select value="0" okText="Aceptar" cancelText="Cancelar"  [ngModelOptions]="{standalone:true}" [(ngModel)]="user_model.organization">
                                  <ion-option *ngFor="let t of organization.all_organizations" [value]="t.id">{{t.Name}}</ion-option>
                              </ion-select>
                          </ion-item>
                      </ion-col>
                  </ion-row>

              </form>
          </ion-row>
      </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <button ion-button color="secondary" (click)="guardar()">Guardar</button>
      <button ion-button color="secondary" (click)="cancelar()">Cancelar</button>
    </ion-toolbar>
  </ion-footer>
</div>
